<!DOCTYPE html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport', content='width=device-width, initial-scale=1.0'>
        <title>Node.js Express Application</title>
        <link rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css'>
        <link rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css'>
        <link rel='stylesheet', href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
        <meta name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui'>
        <script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js', defer></script>
        <script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js', defer></script>
        <script src='./public/js/main.js', defer></script>

    <body>
        <div id="app">
            <v-app>

                <v-app-bar app>
                    <v-toolbar-title><v-icon color="primary" dark>mdi-check</v-icon>内定者アンケート</v-toolbar-title>
                </v-app-bar>

                <v-main>

                    <v-container
                        v-for="(qa, i) in qas"
                        :key="i"
                    >
                        <span>{{ qa.text }}</span>
                        <v-switch
                            v-model="qa.value"
                            inset
                            color="primary"
                        ></v-switch>
                    </v-container>


                    <v-container>
                        <v-btn
                            v-on:click="postAns"
                        >回答</v-btn>
                    </v-container>


                </v-main>

            </v-app>
        </div>
    </body>